/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

card {
    margin-left: 20px;
    margin-right: 20px;
}

.type {
    text-align: left;
    color: red;
}

.flip {
    text-align: right;
    color: blue;
}

h1 {
    color: navy;
    font-style: italic;
    font-family: "Lobster", cursive;;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 53%;
    background-color: #c9cfd6;
}

footer{
    color: #5f6d7a;
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
    color: black;
    font-weight: bold;
    font-family: fantasy;
    height: 30%;
    padding-right: 20%;
    padding-left: 20%;
}

a {
    text-align: center;
    list-style-position: inside;
    color: black;
    font-weight: bold;
    font-family: fantasy;
}