{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
  <h4>Type in which year's card you want to buy.</h4><br>
      <form action="/search/<playerID>/<position>" method="post">
          <div class="mb-3">
              <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="year" name="year" placeholder="Year" type="number">
          </div>
          <button name="buy" class="btn btn-danger" type="submit">Buy</button>
      </form>
  <br>
    <div class="row">
        {% for batter in batters %}
        <div class="card bg-light mb-3" style="max-width: 18rem; margin: 20px;">
            <div class="card-header" style="font-family: 'Optima', sans-serif;">{{ batter[2] }} - {{ batter[1] }}</div>
            <div class="card-body row">
              <div class="column">
                <p class="card-text">Games: {{ batter[5] }}  </p>
                <p class="card-text">Hits: {{ batter[8] }}  </p>
                <p class="card-text">Triples: {{ batter[10] }}  </p>
                <p class="card-text">Runs: {{ batter[7] }}  </p>
              </div>
              <div class="column">
                <p class="card-text">BA: {{ batter[6] }}</p>
                <p class="card-text">Doubles: {{ batter[9] }}</p>
                <p class="card-text">HR: {{ batter[11] }}</p>
                <p class="card-text">RBIs: {{ batter[12] }}</p>
              </div>
              <p class="card-text">{{ batter[16] }}</p>
              <p class="card-text">Market Value: {{ batter[17] | usd }}</p>
              <p class="card-text">{{ batter[19] }}</p>
            </div>
        </div>
        <br> <br>
      {% endfor %}
</div>
{% endblock %}