{% extends "layout.html" %}

{% block title %}
    Market
{% endblock %}

{% block main %}
<h1>Card Market</h1><br><br>
<div class="row">
    {% for player in players %}
    <div class="card bg-light mb-3" style="max-width: 18rem; margin: 20px;">
        <div class="card-header">{{ player[16] }} - {{ player[1] }}</div>
        <div class="card-body">
        <p class="card-title">Games: {{ player[5] }} At Bats: {{ player[6] }}</p>
        <p class="card-text">Hits: {{ player[8] }} Doubles: {{ player[9] }}</p>
        <p class="card-text">Triples: {{ player[10] }} HR: {{ player[11] }}</p>
        <p class="card-text">Runs: {{ player[7] }} RBIs: {{ player[12] }}</p>
        <p class="card-text"> {{ player[17] }}</p>
        </div>
    </div>
  <br> <br>
  {% endfor %}
</div>
<form action="/buy" method="post">
        <br>
        <select class="form-select col-xs-2" name="buy">
                <option value=0>{{ players[0][0] }}</option>
                <option value=1>{{ players[1][0] }}</option>
                <option value=2>{{ players[2][0] }}</option>
                <option value=3>{{ players[3][0] }}</option>
                <option value=4>{{ players[4][0] }}</option>
                <option value=5>{{ players[5][0] }}</option>
                <option value=6>{{ players[6][0] }}</option>
                <option value=7>{{ players[7][0] }}</option>
        </select>
        <br>
    <button class="btn btn-primary" type="submit" >Buy Card</button>
</form>
{% endblock %}