{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>FUNCTIONALITY</h1>
    <br>
    <P> Wild Switch is a website that intends to create an online 
        baseball-card-trading platform. The site allows the user to
        collect their cards through a combination of luck and craftiness.
        Every user is randomly assigned cards when they join the site. From
        there, they can buy new cards from the marketplace. Users can either 
        choose to buy a random pack of cards, or buy from other users. This gets
        to the second function of the site, which allows users to sell their 
        cards, either back to the market for a fraction of the going rate, or
        to put them on the market. Users can also look at other "teams" to see
        how they stack up.
    </P>
    <br>
    <h1>RULES</h1>
    <br>
    <ul>
        <li>Everyone starts with $1,000</li>
        <li>Can set a price for any card for auction</li>
        <li>Can sell cards back to market for 75% of original value</li>
        <li>Can buy specific cards at auction price</li>
        <li>Can buy random pack of five cards for $75</li>
    </ul>
    <br>
    <h1>DATA SOURCE</h1>
    <br>
    <p>Credit to Sean Lahman for databases with all players, teams, and statistics. 
        Data taken from
    </p>
    <a href="http://www.seanlahman.com/baseball-archive/statistics/">http://www.seanlahman.com/baseball-archive/statistics/</a>
{% endblock %}
