{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>FUNCTIONALITY</h1>
    <br>
    <P> Wild Switch is a website that intends to create an online baseball-card-trading platform. The site allows the user to 
        collect their cards in a few ways. You can buy new cards from the marketplace, which displays eight random cards. If 
        you don't like what you see, you can search for your favorite pitchers or batters. If you don't have any specific player
        in mind, but want to buy a card from your friends, you can also search for other users' collections. You can choose to sell
        your cards back for market value or you can place them up for sale for a price of your choosing. And when you're not buying and
        selling, you have the option to just admire your collection. Spend wisely, and build the best team you can. 
    </P>
    <br>
    <h1>RULES</h1>
    <br>
    <ul>
        <li>Everyone starts with $200</li>
        <li>Every time you log in, you get an additional $5</li>
        <li>You can always sell any card for its original market price: $20 for Hall of Famers, $10 for All-Stars, $5 for all other players</li>
        <li>You can set any price for your cards and see if other users will buy them</li>
        <li>Can only buy from other users if they've marked cards for sale. Must pay whatever price they set.</li>
        <li>Can buy any un-owned card for market price.</li>
    </ul>
    <br>
    <h1>DATA SOURCE</h1>
    <br>
    <p>Credit to Sean Lahman for databases with all players, teams, and statistics. 
        Data taken from
    </p>
    <a href="http://www.seanlahman.com/baseball-archive/statistics/">http://www.seanlahman.com/baseball-archive/statistics/</a>
{% endblock %}