{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="row">
    {% for pitcher in pitchers %}
    <div class="card bg-light mb-3" style="max-width: 18rem; margin: 20px;">
      <div class="card-header" style="font-family: 'Optima', sans-serif;">{{ pitcher[2] }} - {{ pitcher[1] }}</div>
      <div class="card-body row">
        <div class="column">
          <p class="card-text">Games: {{ pitcher[7] }}  </p>
          <p class="card-text">ERA: {{ pitcher[17] }}  </p>
          <p class="card-text">SO: {{ pitcher[16] }}  </p>
          <p class="card-text">HR: {{ pitcher[13] }}  </p>
        </div>
        <div class="column">
          <p class="card-text">W-L: {{ pitcher[5] }}-{{ pitcher[6] }}</p>
          <p class="card-text">Hits: {{ pitcher[12] }}</p>
          <p class="card-text">Walks: {{ pitcher[14] }}</p>
          <p class="card-text">HBP: {{ pitcher[19] }}</p>
        </div>
        <p class="card-text">{{ pitcher[22] }}</p>
        <p class="card-text">Market Value: {{ pitcher[23] | usd }}</p>
        <p class="card-text">{{ pitcher[25] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <br><br>
{% endblock %}