{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="row">
{% for player in players %}
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ player[0] }}</div>
        <div class="card-body">
        <h5 class="card-title">{{ players[0][1] }}</h5>
        <p class="card-text"> Weight: </p>
        <p class="card-text"> Height: </p>
        <p class="card-text"> Bats: </p>
        <p class="card-text"> Throws: </p>
        <p class="card-text"> Card Value:</p>
        </div>
    </div>
  <br>
  {% endfor %}
</div>
{% endblock %}